<section>
  <header><h2 id="Cards">Coding Club</h2></header>
  <p>
	It is the community of student of Department of Computer Science (DUCS) where students teach and learn from one another about latest technologies and programming in general.
  </p>
  <p>
	In this community, sometimes sessions/meetups are being conducted if someone takes initiative to do so.
	If you are student of DUCS then you should 
	<span style="display: inline-flex; vertical-align: middle;">
		<a class="github-button" href="https://github.com/csdu/coding-club-sessions/subscription" data-icon="octicon-eye" data-show-count="true" aria-label="Watch csdu/coding-club-sessions on GitHub">Watch</a>
	</span> 
	<a href="https://github.com/csdu/coding-club-sessions">https://github.com/csdu/coding-club-sessions</a> 
	On Github where you will find previous sessions/meetups slides and details. 
  </p>
</section>
