<div class="terminal-nav">
	<div class="terminal-logo">
	  <div class="logo terminal-prompt"><a href="/" class="no-style">du -cs</a></div>
	</div>
	<nav class="terminal-menu">
	  <ul>
		<li><a class="menu-item" href="{{ `/#Events` | relURL }}">Events</a></li>
		<li><a class="menu-item" href="{{ `/#Srijan` | relURL }}">Srijan</a></li>
		<li><a class="menu-item" href="{{ `/archive` | relURL }}">Archive</a></li>
		<li style="height: 28px;">
			<a class="github-button" href="https://github.com/csdu" data-size="large">Github</a>
		</li>
	  </ul>
	</nav>
</div>
